<div class="flex min-h-screen bg-primary">

<!--  Logo-->
  <div class="absolute top-16 left-16">
    <a [routerLink]="['/']">
      <app-logo></app-logo>
    </a>
  </div>

  <div class="w-full lg:w-3/6 px-10 py-10 flex justify-center items-center bg-secondary border-rounded-right">

    <div class="w-96">

      <h3 class="text-3xl text-center font-bold my-4">{{'HOME.SIGNIN' | translate}}</h3>
      <h6 class="text-sm mt-3 mb-8 text-center">{{'HOME.SIGNIN_DES' | translate}}</h6>

<!--      Email-->
      <div class="mt-1.5" *ngIf="!g2f_enabled">
        <app-form-input
          [type]="'text'"
          [placeholder]="'HOME.EMAIL'"
          [regx]="settings.REGX_EMAIL"
          (onChangeEvent)="onChangeEmail($event)"
        ></app-form-input>
      </div>

<!--      Password-->
      <div class="mt-3" *ngIf="!g2f_enabled">
        <app-form-input
          [type]="'password'"
          [placeholder]="'HOME.PASSWORD'"
          [regx]="settings.REGX_FILL"
          (onChangeEvent)="onChangePassword($event)"
          class="mt-3"
        ></app-form-input>
      </div>

<!--      G2F Code (only g2f_enabled)-->
      <div class="mt-1.5" *ngIf="g2f_enabled">
        <app-form-input
          [type]="'text'"
          [placeholder]="'HOME.OTP'"
          [regx]="settings.REGX_OTP"
          (onChangeEvent)="onChangeOTP($event)"
        ></app-form-input>
      </div>

<!--      Error message-->
      <div class="mt-3.5 flex justify-center">
        <app-error-text
          *ngIf="message !== ''"
          [message]="message"
        ></app-error-text>
      </div>

<!--      Signin Button      -->
      <div class="mt-4 flex justify-center" *ngIf="!g2f_enabled">
        <app-form-button-general
          [text]="'HOME.SIGNIN'"
          [disabled]="!valid"
          (onClickEvent)="onSubmit()"
        ></app-form-button-general>
      </div>

<!--      G2F code send-->
      <div class="mt-4 flex justify-center" *ngIf="g2f_enabled">
        <app-form-button-general
          [text]="'HOME.SEND'"
          [disabled]="!valid"
          (onClickEvent)="onSend()"
        ></app-form-button-general>
      </div>

<!--      Social signin-->
      <h6 class="mt-5 text-sm text-center">{{'HOME.SIGNIN_WITH' | translate}}</h6>
      <div class="mt-2.5">
        <app-icon-social-circle></app-icon-social-circle>
      </div>

      <!--      No account-->
      <h6 class="mt-3.5 text-sm text-center">
        {{'HOME.NO_ACCOUNT' | translate}}
        <a [routerLink]="['/register']">{{'HOME.SIGNUP' | translate}}</a>
      </h6>

      <!--      Forgot password-->
      <h6 class="mt-1 text-sm text-center">
        {{'HOME.FORGOT_PWD' | translate}}
        <a [routerLink]="['/forgot-password']">{{'HOME.RESTORE' | translate}}</a>
      </h6>
    </div>
  </div>

  <div class="hidden lg:w-3/6 lg:flex justify-center items-center p-10">
    <div>
      <div class="flex justify-center">
        <img alt="" src="./assets/images/home.svg" class="w-4/5">
      </div>

      <!--      Follow us-->
      <h6 class="text-sm text-white flex justify-center mt-8">{{'HOME.FOLLOW' | translate}}</h6>
      <div class="mt-4">
        <app-icon-social-rounded></app-icon-social-rounded>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  type="square-jelly-box"
  [fullScreen]="true">
</ngx-spinner>
