
/*input[type=checkbox] {*/
/*  background-color: initial;*/
/*  cursor: default;*/
/*  appearance: auto;*/
/*  box-sizing: border-box;*/
/*  margin: 3px 3px 3px 4px;*/
/*  padding: initial;*/
/*  border: initial;*/
/*}*/

/*.checkbox label {*/
/*  pointer-events: unset;*/
/*  padding-left: 34px;*/
/*  cursor: default;*/
/*  display: flex;*/
/*  min-height: 26px;*/
/*  align-items: center;*/
/*  position: relative;*/
/*}*/

.checkbox input+label:before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-text-secondary);
  background: #fff;
  border-radius: 4px;
  margin-left: -34px;
}

.checkbox input:checked+label:before {
  background-color: var(--color-text-secondary) !important;
  border-color: var(--color-text-secondary) !important;
}

.checkbox input+label:after {
  content: "";
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 0;
  height: 10px;
  position: absolute;
  left: 1px;
  top: 4px;
  transform: rotate(-45deg);
  transition: width .3s;
}

.checkbox input:checked+label:after {
  width: 15px;
}
